.dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  top: 38px;
  border: 1px solid rgb(197, 197, 197);
  background: #fff;
  border-radius: 0.25rem;
  z-index: 1000;
  min-width: 140px;
}
