.navbar {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  font-family: Lexend;
  background-color: #ee534f;
}

.navbar-buttons {
  display: flex;
  flex-direction: row;
}
