.helpPage {
  width: 100vw;
  padding-top: 30px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: auto;
  align-items: flex-start;
  overflow-y: auto;
}
