@font-face {
  font-family: "Lexend";
  src: url("/assets/LexendGiga-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: Lexend;
}
